
body {

	font-size: 14px;
	font-size: normal;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}




a {
	text-decoration: none;
	-moz-transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .7s;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 45%;
}
.form-group {
    margin-bottom: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

 .opact   {opacity: 0;
    position: absolute;
    top: 66px;
    left: 55px;}
.main-space{margin-top:2em;}

.min-space{margin-top:1em;}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #7e7e7e;
	border-width: 1px;
	border-style: solid;
	padding: 0 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: border linear .3s;
	-webkit-transition: border linear 3s;
	-o-transition: border linear .3s;
	transition: border linear .3s;
}

textarea {
	padding: 15px;
}

.login-button {
    display: block;
    width: 60%;
    margin: auto;
}

.btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.cover {
	position: absolute;
    top: 0;
    left: 0;
    right: 9;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.container {
	position: relative;
	z-index: 3;
}

/*Header*/
/*Top nav left*/
.top-nav {
	
	color: #333;
	line-height: 140px;
	border-bottom: 1px solid #01b1d7;
}

/*Top left Menu*/
.top-left {
	float: left;
}

.top-left ul >li {
	display: inline-block;
	margin-right: 15px;
}

.top-left a {
	font-size: 16px;
	color: #333;
}

.top-left a:hover {
	color: #01b1d7;
}

/*Top Right Menu*/
.top-right {
	float: right;
}

.top-right p:before {
	content: "\f041";
	font-family: 'FontAwesome';
	font-size: 16px;
	color: #01b1d7;
	margin-right: 10px;
}

.top-right p {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 14px;
}

.top-right p > span {
	margin-left: 5px;
	font-style: italic;
	font-weight: 400;
}

/*Nagivation*/
#main-nav {
	padding: 15px 0;
	background: #eee;
}

/*Affix*/
#main-nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    color: #fff;
    z-index:10;
	-moz-box-shadow: 0 1px 2px #ebebeb;
	-webkit-box-shadow: 0 1px 2px #ebebeb;
	box-shadow: 0 5px 5px rgba(0,0,0,.15);
    transition: all 0.3s;
}

.navbar {
	margin:0;
}

#main-nav .navbar-header a {
	background-color: #01b1d7;
	color: #fff;
}
/*Toggle Menu*/
#main-nav .navbar-toggle {
	background-color: #01b1d7;
}

#main-nav .navbar-toggle span {
	background-color: #fff;
}

/*Main Menu*/
#main-nav .navbar-right {
	margin-top: 100px;
}
#main-nav .navbar-right li > a {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
	color: #555;
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}

#main-nav .navbar-right li > a:focus {
	color: #01b1d7;
    background: none;
    outline: none;
}

#main-nav .navbar-nav>li>a:hover,
#main-nav .navbar-nav>li.active>a {
	color: #01b1d7;
    background: none;
}

/*Search Form*/
.search-form {
	padding: 10px;
	position: absolute;
	bottom: -26px;
	right: 15px;
	z-index: 3;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s linear;
	-moz-box-shadow: 0 1px 2px #ebebeb;
	-webkit-box-shadow: 0 1px 2px #ebebeb;
	box-shadow: 0 1px 2px #ebebeb;
}

.search-form.visible {
	visibility: visible;
	opacity: 1;
}

.search-form input {
	height: 40px;
	width: 215px;
	border-color: #e8e8e8;
}

/*Main Slider*/
#slider {
	margin: 0;
	padding: 0;
	position: relative;
}

.flexslider {
	border: 0;
}

#slider.flexslider .slides > li img {
	
}

/*Slider Caption*/
#slider .caption {
	position: absolute;
	width: 600px;
	top: 50%;
}

#slider .caption h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 480px;
	text-transform: uppercase;
}

#slider .caption span {
	padding: 0 10px;
	background-color: #01b1d7;
	color: #fff;
}

#slider .caption p {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	font-style: italic;
	margin-top: 30px;
	color: #01b1d7;
}

#slider .caption button {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 200;
	font-size: 17px;
	margin-top: 20px;
	background-color: #01b1d7;
	color: #fff;
	border: 1px solid #fff;
}

#slider .caption button:hover {
	background-color: #fff;
    border: 1px solid #01b1d7;
    transition: 0.3s;
    color: #01b1d7;
}


/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#slider .caption {
		position: absolute;
		width: 200px;
		top: 55%;
	}

	#slider .caption h2 {
		font-size: 15px;
	}

	#slider .caption p {
		font-size: 10px;
		font-style: italic;
		margin: 0;
		padding: 0;
		color: #01b1d7;
	}

	#slider .caption .btn {
		width: 80px;
	    height: 20px;
		font-size: 20px;
		margin-top: 5px;
		padding: 0;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#slider .caption {
		position: absolute;
		width: 450px;
		top: 50%;
	}

	#slider .caption h2 {
		font-size: 24px;
	}

	#slider .caption p {
		font-size: 16px;
		font-style: italic;
		margin-top: 35px;
		color: #01b1d7;
	}

	#slider .caption .btn {
		width: 110px;
	    height: 30px;
		font-size: 12px;
		margin-top: 15px;

	}
}



/*Control Nav*/
#slider .flex-control-nav {
	position: absolute;
	display: inline;
	z-index: 2;
}

#slider .flex-control-nav li {
	margin: 5px;
	display: inline-block;
}

#slider .flex-control-paging li a {
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #01b1d7;
}

#slider .flex-control-paging li a:hover {
	background: #01b1d7;
}

#slider .flex-control-paging li a.flex-active {
	background: #01b1d7;
	width: 12px;
	height: 12px;
}

/*About*/
#about {
	padding: 80px;
}

#about .about-heading {
	text-align: center;
}

#about .about-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
}

#about .about-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 50px;
}

#about .about-left {
	position: relative;
    z-index: 2;
}

#about .about-right:before {
	content: "";
    border: 8px solid #e5eef0;
	width: 120%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#about .about-right {
	position: relative;
	padding: 0 80px 150px 80px;
}

#about .about-right-heading h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding-top: 100px;
	text-transform: uppercase;
}

#about .about-right-boot:before {
	content: "\f080";
	font-family: 'FontAwesome';
	font-size: 45px;
	padding: 65px 30px 0 0;
	float: left;
	color: #01b1d7;
}

#about .about-right-wrapper {
    padding-left: 0 0 50px 78px;
    position: relative;
	left: 0;
	top: 75px;
}

#about .about-right-wrapper a {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #282828;
}

#about .about-right-wrapper a:hover {
	color: #01b1d7;
}

#about .about-right-wrapper p {
	line-height: 28px;
	margin-top: 20px;
	color: #8e8e8e;
}

#about .about-right-best:before {
	content: "\f201";
	font-family: 'FontAwesome';
	font-size: 45px;
	padding: 65px 30px 0 0;
	float: left;
	color: #01b1d7;
}

#about .about-right-support:before {
	content: "\f025";
	font-family: 'FontAwesome';
	font-size: 45px;
	padding: 65px 30px 0 0;
	float: left;
	color: #01b1d7;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#about {
		padding: 0;
	}

	#about .about-heading h2 {
		margin-top: 30px;
		font-size: 27px;
	}

	#about .about-heading p {
		margin-top: 20px;
		font-size: 12px;
		line-height: 20px;
	}

	#about .about-right:before {
		content: "";
	    border: 8px solid #e5eef0;
		width: 100%;
	    height: 100%;
	}

	#about .about-right {
		position: relative;
		padding: 30px;
		margin-top: 20px;
	}

	#about .about-right-heading h1 {
		padding-top: 20px;
		font-size: 25px;
		text-align: center;
	}

	#about .about-right-boot:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-wrapper {
	    position: relative;
		left: 0;
		top: 35px;
	}

	#about .about-right-wrapper a > h3 {
		font-size: 20px;
	}

	#about .about-right-wrapper p {
		margin-top: 20px;
		font-size: 13px;
	}

	#about .about-right-best {
		margin-top: 40px;
	}

	#about .about-right-best:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-support {
		margin-top: 40px;
	}

	#about .about-right-support:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#about {
		margin-top: 50px;
		padding: 0;
	}

	#about .about-heading h2 {
		margin-top: 30px;
		font-size: 30px;
	}

	#about .about-heading p {
		margin-top: 20px;
		line-height: 20px;
	}

	#about .about-right:before {
		content: "";
	    border: 8px solid #e5eef0;
		width: 100%;
	    height: 100%;
	}

	#about .about-right {
		position: relative;
		padding: 30px;
		margin-top: 20px;
	}

	#about .about-right-heading h1 {
		padding-top: 20px;
		font-size: 25px;
		text-align: center;
	}

	#about .about-right-boot:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-wrapper {
	    position: relative;
		left: 0;
		top: 35px;
	}

	#about .about-right-wrapper a > h3 {
		font-size: 20px;
	}

	#about .about-right-wrapper p {
		margin-top: 20px;
		font-size: 13px;
	}

	#about .about-right-best {
		margin-top: 40px;
	}

	#about .about-right-best:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-support {
		margin-top: 40px;
	}

	#about .about-right-support:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

}

/*About bg*/
#about-bg {
	position: relative;
	background-image: url(../images/about/about2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    text-transform: uppercase;
    padding: 100px 0;
    color: #fff;
}

.about-bg-heading {
	font-family: 'Josefin', sans-serif;
	font-weight: 900;
	text-align: center;
	line-height: 40px;
	z-index: -2;
}

.about-bg-heading h1 {
	font-size: 40px
}

.about-bg-heading p {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-weight: 400;
	font-size: 16px;
}

.about-bg-wrapper {
	color: #fff;
	text-align: center;
	margin-top: 30px;
	z-index: -2;
}

#about-bg .about-bg-wrapper .count {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 45px;
	margin-right: 20px;
	text-align: center;
	float: left;
	color: #01b1d7;
}

#about-bg .about-bg-wrapper p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 30px;
	float: left;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	.about-bg-heading h1 {
		font-size: 28px;
	}

	.about-bg-wrapper {
		margin-left: 25%;
	}

}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	.about-bg-heading h1 {
		font-size: 30px;
	}

	.about-bg-wrapper {
		margin-left: 35%;
	}

}

/*Service*/
#service {
	margin-top: 100px;
	background-attachment: scroll;
    padding-bottom: 0px;
    padding-top: 0px;
}

#service .col-md-6 {
	padding: 0;
	
}

#service .service-heading {
	text-align: center;
}

#service .service-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
}

#service .service-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 50px;
}

.services-style-one {
	position: relative;
}

.services-style-one .outer-box {
	position: relative;
	background: #1c1c1c;
}

.services-style-one .services-column {
	position: relative;
	width: 50%;
	float: left;
	background: #f2f3f4;	
}

.services-style-one .service-block {
	position: relative;
	margin-bottom: 40px;	
}

.services-style-one .services-column .content-outer {
	position: relative;
	float: right;
	max-width: 700px;
	padding: 80px 20px 40px 40px;	
}

.services-style-one .services-column .icon-box {
	font-size: 36px;
	margin-bottom: 15px;
	line-height: 1px;
	color: #01b1d7;	
}

.services-style-one .services-column h4 {
	font-size: 14px;
	margin-bottom: 10px;
	color: #1c1c1c;	
}

.services-style-one .services-column .text {
	font-size: 13px;
	color: #5a5a5a;
	max-width: 250px;	
}

.services-style-one .content-column {
	position: relative;
	float: left;
	width: 50%;
	background: #1c1c1c;
	text-align: right;
}

.services-style-one .content-column .content-box {
	position: relative;
	float:left;
	padding: 170px 20px 100px 320px;
	max-width: 700px;	
}

.services-style-one .content-column .sec-title h2 {
	color: #fff;
}

.services-style-one .content-column .sec-title h2 > span {
	border-bottom: 2px solid #01b1d7;
	padding-bottom: 5px;
}

.services-style-one .content-column .inner-box {
	position: relative;
}

.services-style-one .content-column .text {
	position: relative;
	margin: 30px 0;
	color: #999999;
	line-height: 25px;
}

.inner-box button {
	background-color: #01b1d7;
	width: 120px;
	height: 35px;
	color: #fff;
}

.inner-box button:hover {
	background-color: #fff;
	color: #01b1d7;
}

/*Service Footer*/
#service .service-footer {
	background: #222222;
	padding: 30px 0;
}

#service .service-footer-left h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: #fff;
}

#service .service-footer-left h3 > span {
	color: #01b1d7;
}

#service .service-footer-left p {
	font-size: 16px;
	color: #9d9d9d;
}

#service .service-footer-right {
	float: right;
	line-height: 80px;
}

#service .service-footer-right button {
	background-color: #01b1d7;
	width: 180px;
	height: 50px;
	color: #fff;
}

#service .service-footer-right button:hover {
	background-color: #fff;
	color: #01b1d7;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#service {
		margin-top: 50px;
	}

	#service .service-heading h2 {
		font-size: 27px;
	}

	#service .service-heading p {
		font-size: 13px;
	}

	.services-style-one .content-column .content-box {
		padding: 200px 20px 100px 20px;	
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#service {
		margin-top: 50px;
	}

	#service .service-heading h2 {
		font-size: 30px;
	}

	.services-style-one .content-column .content-box {
		padding: 200px 20px 100px 20px;	
	}
}

/*Portfolio*/
#portfolio {
	margin-top: 100px;
}

#portfolio .portfolio-heading {
	text-align: center;
}

#portfolio .portfolio-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
}

#portfolio .portfolio-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 50px;
}

#portfolio .portfolio-thumbnail {
	position: relative;
}

#portfolio .portfolio-thumbnail img {
	width: 100%;
	height:auto;
}

#portfolio .portfolio-thumbnail .col-md-3 {
	padding: 0;
}

#portfolio .portfolio-thumbnail .caption {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(62, 212, 255, 0.7);
	opacity: 0;
	-moz-transition: opacity linear .3s;
	-webkit-transition: opacity linear .3s;
	-o-transition: opacity linear .3s;
	transition: opacity linear .3s;
}

#portfolio .portfolio-thumbnail .item:hover > .caption {
	opacity: 1;
}

#portfolio .caption i {
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #01b1d7;
	background-color: #fff;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

}

#portfolio .caption p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-align: center;
	color: #fff;
	position: absolute;
	font-size: 17px;
	text-transform: capitalize;
	top: 55%;
	left: 30%;
	right: 30%;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#portfolio {
		margin-top: 50px;
	}

	#portfolio .portfolio-heading h2 {
		font-size: 27px;
	}

	#portfolio .portfolio-heading p {
		font-size: 13px;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#portfolio {
		margin-top: 50px;
	}

	#portfolio .portfolio-heading h2 {
		font-size: 30px;
	}

}

/*Contact*/
#contact {
	margin-top: 100px;
}

#contact .contact-heading {
	text-align: center;
}

#contact .contact-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
}

#contact .contact-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 50px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

/*Get In Touch*/
#get-touch {
	margin-top: 100px;
}

#get-touch .get-touch-heading {
	text-align: center;
}

#get-touch .get-touch-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
}

#get-touch .get-touch-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 50px;
}

#get-touch .content {
	margin-top: 50px;
}

#get-touch .content .form input {
	height: 50px;
	width: 100%;
	border-color: #ebebeb;
}

#get-touch .content .form textarea {
	width: 100%;
	height: 180px;
	border-color: #ebebeb;
	margin-top: 20px;
}

#get-touch .content .form .submit {
	text-align: center;
}

#get-touch .content .form .submit .btn {
	margin-top: 25px;
	background-color: transparent;
	color: #7e7e7e;
	border-color: #01b1d7;
}

#get-touch .content .form .submit .btn:hover {
	background-color: #01b1d7;
	color: #fff;
}


/*Map*/
#google-map{
    position:relative;
    margin-top:10px;
    height: 400px;
}

/*Client*/
#client {
	margin-top: 100px;
	text-align: center;
}

#client .col-md-2 {
	height: 100px;
}

#client span {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

#client img {
	max-height: 100px;
	vertical-align: middle;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#contact {
		margin-top: 50px;
	}

	#contact .contact-heading h2 {
		font-size: 27px;
	}

	#contact .contact-heading p {
		font-size: 13px;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#contact {
		margin-top: 50px;
	}

	#contact .contact-heading h2 {
		font-size: 30px;
	}

}

/*Footer*/
#footer {
	margin-top: 50px;
	 background-color: #000; 
	/* padding: 50px 0; */
	border-top: 1px solid #eee;
}

#footer .footer-heading {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 0 20px;
	color: #fff;
	text-align: center;
}

#footer .footer-heading h3 {
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
    margin-top: 50px;
}

#footer .footer-heading span {
	border-bottom: 2px solid #01b1d7;
	padding-bottom: 8px;
}

#footer .footer-heading p {
	font-family: 'Open Sans', sans-serif;
	word-spacing: 3px;
	font-weight: 300;
	margin-top: 40px;
	color: #7e7e7e;
}

#footer .footer-heading ul {
	list-style: none;
	margin: 0;
	padding: 0;
	/* margin-top: 30px; */
	/* text-align: center; */
}

#footer .footer-heading li {
	border-bottom: 0;
	padding: 10px 0;
	padding: 20px;
	text-align: center;
}

#footer .footer-heading ul > li > a:before {
	/* content: "\f10c"; */
	font-family: 'FontAwesome';
	padding-right: 10px;
}

#footer .footer-heading ul > li > a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	padding-top: 9px;
	padding-bottom: 9px;
	color: #7e7e7e;
	float: none;
	display:  inline-block;
}

#footer .footer-heading ul > li > a:hover {
	color: #01b1d7;
}

#footer .insta img {
	float: left;
	width: 100px;
	height: 100px;
}

.credits a {
    color: #fff;
}

/*Bottom Footer*/
#bottom-footer {
	background-color: #282828;
	padding: 20px 0;
	color: #8e8e8e;
}

#bottom-footer .footer-right ul > li > a {
	color: #8e8e8e;
}

#bottom-footer .footer-right ul > li > a:hover {
	color: #01b1d7;
}


/*rohit*/
.modal-content {
    position: relative;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    align-items: ;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid transparent;
}
.modal-body .heading{
    font-size: 26px;
    letter-spacing: 1px;
    padding: 30px;
    color: #e1c806;
    font-family: apple chancery;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid transparent;
}
.close, .close:hover {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-shadow: none;
}

.mbm_social {
  margin:30px 0;
  padding: 25px;
  font-size: 0;
  float:left;
  width:100%;
  text-align:center;	
}
.mbm_social li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 8px 0 0;
    padding: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.mbm_social > li:last-child {
    margin: 0;
}
.mbm_social a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color:#fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 px;
  width: 140px;
  height: 40px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.mbm_social a:hover {
  color: #fff;
}
.mbm_social a:hover .tooltip {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, -33px);
          transform: translate(0, -33px);
}
.mbm_social a:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.mbm_social .tooltip {
  opacity: 0;
  position: absolute;
  top: 2px;
  left: 50%;
  z-index: 1;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.mbm_social .tooltip span {
    font-size: 10px;
    font-weight: bold;
    left: -50%;
    line-height: 1;
    padding: 6px 8px 5px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.mbm_social .tooltip span:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
}
.mbm_social .social-twitter {
  background: #00abdc;
  background: -webkit-linear-gradient(#00abdc, #00abdc);
  background: linear-gradient(#00abdc, #00abdc);
  border-bottom: 1px solid #00abdc;
}
.mbm_social .social-twitter:hover {
  color: #fff;
  text-shadow: 0px 1px 0px #00abdc;
}
.mbm_social .social-twitter span {
  background: #00abdc ;
  background: -webkit-linear-gradient(#00abdc, #00abdc);
  background: linear-gradient(#00abdc, #00abdc);
  color: #fff;
}
.mbm_social .social-twitter span:after {
  border-top-color: #00abdc;
}
.mbm_social .social-linkedin {
  background: #286580 ;
  background: -webkit-linear-gradient(#286580, #286580);
  background: linear-gradient(#286580, #286580);
  border-bottom: 1px solid #286580;
}
.mbm_social .social-linkedin:hover {
  color: #fff ;
  text-shadow: 0px 1px 0px #286580;
}
.mbm_social .social-linkedin span {
  background: #286580 ;
  background: -webkit-linear-gradient(#286580, #286580);
  background: linear-gradient(#286580, #286580);
  color: #fff;
}
.mbm_social .social-linkedin span:after {
  border-top-color: #286580 ;
}
.mbm_social .social-facebook {
  background: #325c94 ;
  background: -webkit-linear-gradient(#4562a0, #385693);
  background: linear-gradient(#4562a0, #385693);
  border-bottom: 1px solid #2f487c;
}
.mbm_social .social-facebook:hover {
  color: #fff;
  text-shadow: 0px 1px 0px #2f487c;
}
.mbm_social .social-facebook span {
  background: #3b5a9b;
  background: -webkit-linear-gradient(#5873aa, #3b5a9b);
  background: linear-gradient(#5873aa, #3b5a9b);
  color: #fff;
}
.mbm_social .social-facebook span:after {
  border-top-color: #325c94;
}
.mbm_social .social-google-plus {
  background: #ea4335;
  background: -webkit-linear-gradient(#ea4335, #ea4335);
  background: linear-gradient(#ea4335, #ea4335);
  border-bottom: 1px solid #ea4335;
}
.mbm_social .social-google-plus:hover {
  color: #fff ;
  text-shadow: 0px 1px 0px #ea4335;
}
.mbm_social .social-google-plus span {
  background: #ea4335;
  background: -webkit-linear-gradient(#ea4335, #ea4335);
  background: linear-gradient(#ea4335, #ea4335);
  color: #fff ;
}
.mbm_social .social-google-plus span:after {
  border-top-color: #ea4335 ;
}
.mbm_social i {
  position: relative;
  top: 1px;
  font-size: 14px;
}
.mbm_social small {
    font-size: 14px;
    margin: 0 0 0 9px;
	 vertical-align: middle;
}
.btn-primary{
    border-radius: 0;
    padding: 10px 10px;
}

.main .form-group{
    margin-bottom: 20px;
}

@-webkit-keyframes glowing {
  0% { background-color: #003bb2; -webkit-box-shadow: 0 0 3px #003bb2; }
  50% { background-color: #0087ff; -webkit-box-shadow: 0 0 40px #0087ff; }
  100% { background-color: #003bb2; -webkit-box-shadow: 0 0 3px #003bb2; }
}

@-moz-keyframes glowing {
  0% { background-color: #003bb2; -moz-box-shadow: 0 0 3px #003bb2; }
  50% { background-color: #0087ff; -moz-box-shadow: 0 0 40px #0087ff; }
  100% { background-color: #003bb2; -moz-box-shadow: 0 0 3px #003bb2; }
}

@-o-keyframes glowing {
  0% { background-color: #003bb2; box-shadow: 0 0 3px #003bb2; }
  50% { background-color: #0087ff; box-shadow: 0 0 40px #0087ff; }
  100% { background-color: #003bb2; box-shadow: 0 0 3px #003bb2; }
}

@keyframes glowing {
  0% { background-color: #003bb2; box-shadow: 0 0 3px #003bb2; }
  50% { background-color: #0087ff; box-shadow: 0 0 40px #0087ff; }
  100% { background-color: #003bb2; box-shadow: 0 0 3px #003bb2; }
}
.button {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

/* nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
jjjjjjjjjjjjjjjjjjjjjjjjjjj */

.m-t-10 {
	margin-top: 10px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-30 {
	margin-top: 30px;
}

.m-t-40 {
	margin-top: 40px;
}

.m-b-10 {
	margin-bottom: 10px;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-b-40 {
	margin-bottom: 40px;
}

.m-l-10 {
	margin-left: 10px;
}

.m-l-20 {
	margin-left: 20px;
}

.m-l-30 {
	margin-left: 30px;
}

.m-l-40 {
	margin-left: 40px;
}

/* .wd10 { width: 10%; float: left;} .wd20 { width: 20%; float: left;} .wd30 { width: 30%; float: left;}
.wd40 { width: 40%; float: left;} .wd50 { width: 50%; float: left;} .wd60 { width: 60%; float: left;}
.wd70 { width: 70%; float: left;} .wd80 { width: 80%; float: left;} .wd90 { width: 90%; float: left;} .wd100 { width: 100%; float: left;} */
.wd10 {
	width: 10%;
}

.wd20 {
	width: 20%;
}

.wd30 {
	width: 30%;
}

.wd40 {
	width: 40%;
}

.wd50 {
	width: 50%;
}

.wd60 {
	width: 60%;
}

.wd70 {
	width: 70%;
}

.wd80 {
	width: 80%;
}

.wd90 {
	width: 90%;
}

.wd100 {
	width: 100%;
}

.wd10,
.wd10,
.wd20,
.wd30,
.wd40,
.wd50,
.wd60,
.wd70,
.wd80,
.wd90,
.wd100 {
	display: inline-block;
}

.col50 {
	width: 100%;
}

.col50.colleft {
	float: left;
}

.col50.colright {
	float: right;
}

.col50 .wd50 {
	width: 100%;
	float: left;
}

.col50 .col50 {
	width: 48%;
}

.fL {
	float: left !important;
}

.fR {
	float: right !important;
}

.underline {
	text-decoration: underline;
}

.op9 {
	opacity: .9;
}

.op8 {
	opacity: .8;
}

.op7 {
	opacity: .7;
}

.op6 {
	opacity: .6;
}

.op5 {
	opacity: .5;
}

.op4 {
	opacity: .4;
}

.op3 {
	opacity: .3;
}

.op2 {
	opacity: .2;
}

.op1 {
	opacity: .1;
}

.nodrop {
	cursor: no-drop;
}

/* color code */
.white {
	color: #ffffff;
}

.bg-white {
	background-color: #ffffff !important;
	color: #676767 !important;
}

.blue {
	color: #1ba1e5;
}

.bg-blue {
	background-color: #1ba1e5 !important;
}

.purple {
	color: #448aff;
}

.bg-purple {
	background-color: #448aff !important;
}

.red {
	color: #ff5252;
}

.bg-red {
	background-color: #ff5252 !important;
}

.orange {
	color: #ff6d00;
}

.bg-orange {
	background-color: #ff6d00 !important;
}

.green {
	color: #43a047;
}

.bg-green {
	background-color: #43a047 !important;
}

.violet {
	color: #9162e4;
}

.bg-violet {
	background-color: #9162e4 !important;
}

.pink {
	color: #ff6090;
}

.bg-pink {
	background-color: #ff6090 !important;
}

.alt-blue {
	color: #7c9cad;
}

.bg-alt-blue {
	background-color: #7c9cad !important;
}

.bg-pink:hover,
.bg-pink:focus,
.bg-pink:active,
.bg-purple:hover,
.bg-purple:focus,
.bg-purple:active,
.bg-violet:hover,
.bg-violet:focus,
.bg-violet:active,
.bg-alt-blue:hover,
.bg-alt-blue:focus,
.bg-alt-blue:active {
	color: #ffffff !important;
}

/* text color code */
.gray-pale {
	color: #526273;
}

.gray-dark {
	color: #444444;
}

.gray-light {
	color: #908e8e;
}

.btn {
	-webkit-transition: box-shadow ease-in-out .1s;
	-moz-transition: box-shadow ease-in-out .1s;
	-o-transition: box-shadow ease-in-out .1s;
	transition: box-shadow ease-in-out .1s;
	color: #ffffff;
}

.btn[class*='bg-']:hover {
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.1);
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
button:focus {
	outline: none;
	outline-offset: 0;
}

.container-fluid {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	display: block;
}


hr {
	border-width: 7px;
	box-shadow: none;
	border-style: solid;
	border-color: #f3f3f3;
	margin: 7px 0;
	margin-left: 0;
	display: block;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}




::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* kkkkkkkkkkkkkkkkkkkkkkkkkkkkk */
